body-shop {
    margin: 0;
}

.container-shop {
    width: 900px;
    margin: auto;
    max-width: 90vw;
    text-align: center;
    padding-top: 10px;
    transition: transform .5s;
}

svg.shop {
    width: 30px;
}

.header-cart {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

/* Thêm CSS vào stylesheet của bạn */
.icon-cart {
    position: relative;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.icon-cart:hover {
    /* Hiệu ứng khi di chuột vào */
    transform: scale(1.1);
}

.icon-cart:active {
    /* Hiệu ứng khi click */
    transform: scale(0.9);
}


.icon-cart span {
    position: absolute;
    background-color: #f50537;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: #fff;
    top: 50%;
    right: -20px;
}

.title-cart {
    font-size: xx-large;
}

.listProduct .item img {
    width: 90%;
    filter: drop-shadow(0 50px 20px #0009);
}

.listProduct {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.listProduct .item {
    background-color: #EEEEE6;
    padding: 20px;
    border-radius: 20px;
}

.listProduct .item h2 {
    font-weight: 500;
    font-size: large;
}

.listProduct .item .price {
    letter-spacing: 7px;
    font-size: small;
}

.listProduct .item button {
    background-color: #f50537;
    color: #eee;
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    border-radius: 20px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease, transform 0.3s ease;
}

.listProduct .item button:hover {
    background-color: #eee;
    color: #f50537;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    transform: scale(1.1);
}

.listProduct .item button:active {
    transform: scale(0.9);
}


/* cart */
.cartTab {
    width: 459px;
    background-color: #353432;
    color: #eee;
    position: fixed;
    top: 0;
    right: -459px;
    bottom: 0;
    display: grid;
    grid-template-rows: 70px 1fr 70px;
    transition: .5s;
    z-index: 9999;
}

.body-shop.showCart .cartTab {
    right: 0;
}

.body-shop.showCart .container-shop {
    transform: translateX(-250px);
}

.cartTab h1 {
    color: #eee;
    padding: 20px;
    margin: 0;
    font-weight: 300;
}

.cartTab .btn-shop {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.cartTab button {
    background-color: #f50537;
    color: #fff;
    border: none;
    font-family: Poppins;
    font-weight: 500;
    cursor: pointer;
}

.cartTab .close {
    background-color: gray;
}

.listCart .item img {
    width: 100%;
}

.listCart .item {
    display: grid;
    grid-template-columns: 70px 150px 50px 1fr;
    gap: 10px;
    text-align: center;
    align-items: center;
}

.listCart .quantity span {
    display: inline-block;
    width: 25px;
    height: 25px;
    background-color: #f50537;
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
}

.listCart .quantity span:nth-child(2) {
    background-color: transparent;
    color: #eee;
    cursor: auto;
}

.listCart .item:nth-child(even) {
    background-color: #eee1;
}

.listCart {
    overflow: auto;
}

.listCart::-webkit-scrollbar {
    width: 0;
}

button {
    background-color: #f50537;
}

@media only screen and (max-width: 992px) {
    .listProduct {
        grid-template-columns: repeat(3, 1fr);
    }
}


/* mobile */
@media only screen and (max-width: 768px) {
    .listProduct {
        grid-template-columns: repeat(2, 1fr);
    }
}