{% extends 'base.html' %}
{% load static %}
{% block title %}Hello{% endblock %}
{% block content %}
<style>

h1.booking {
    font-size: 24px; /* Kích thước chữ */
    padding-top: 50px; /* Padding top */
    padding-left: 50px;
}

#seat-map {
    display: flex;
    flex-wrap: wrap;
    max-width: 800px;
    margin: 20px auto;
    justify-content: center;
}

.row {
    display: flex;
    align-items: center;
}

.seat {
    width: 30px;
    height: 30px;
    margin: 5px;
    background-color: #ddd;
    cursor: pointer;
    border: 1px solid #aaa;
    position: relative;
    border-radius: 5px; /* Bo tròn góc */
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.seat.booked {
    background-color: #ff6961;
    cursor: not-allowed;
}

.seat.selected {
    background-color: #4CAF50;
}

.seat i {
    color: #555; /* Màu của biểu tượng */
}

/* Đổ bóng từ trong ra ngoài */
.seat::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle, rgba(0, 0, 0, 0.3), transparent 70%);
    border-radius: 5px; /* Bo tròn góc */
    transform: translate(-50%, -50%) scale(0);
    transition: transform 0.3s ease-in-out;
}

/* Hiệu ứng khi hover hoặc selected */
.seat:hover::after,
.seat.selected::after {
    transform: translate(-50%, -50%) scale(1);
}


/* Thêm kiểu cho màn hình và biểu mẫu đặt vé */
.screen {
    width: 600px;
    margin: 0 auto 20px;
    height: 30px;
    background: radial-gradient(circle, #f50537, transparent 80%); /* Chuyển màu từ đỏ tới trong cùng, trong suốt từ 80% về sau */
    border-radius: 15px; /* Bo tròn góc */
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3); /* Đổ bóng */
}



#booking-form {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 50px;
    margin-right: 300px;
}

#total-ticket-price {
    font-weight: bold;
}

#book-btn {
    width: 120px;
    height: 40px;
    color: white;
    border: none;
    margin-top: 10px;
    border-radius: 30px;
    cursor: pointer;
    background: #f50537; /* Màu gốc */
    background-image: linear-gradient(45deg, #f50537 0%, #e40032 100%); /* Gradient màu */
    box-shadow: 0 3px 10px rgba(255, 255, 255, 0.3); /* Đổ bóng */
    transition: transform 0.3s, box-shadow 0.3s; /* Áp dụng hiệu ứng cho transform và đổ bóng */
}

#book-btn:hover {
    transform: scale(1.1);
    box-shadow: 0 6px 20px rgba(255, 255, 255, 0.5); /* Tăng độ đậm nhạt của đổ bóng khi hover */
}



</style>
<section class="py-5">

    <h1 class="booking"">{{ concert.name }} - Concert Detail</h1>
    <div class = "screen"></div>
    <div id="seat-map">
        {% for row in concert.rows.all %}
            <div class="row">
                {% for seat in row.seats.all %}
                    <div class="seat{% if seat.is_booked %} booked{% endif %}" data-seat-name="{{ seat.seat_number }}" data-seat-price="{{ seat.seat_ticket_price }}" title="{{ seat.seat_number }}"></div>
                {% endfor %}
            </div>
        {% endfor %}
    </div>
   
    
    <div id="booking-form">
        <p>Total Ticket Price: $<span id="total-ticket-price">0</span></p>
        <button id="book-btn">Book</button>
    </div>
</section>



    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script>
        $(document).ready(function() {
            var selectedSeats = [];

            function updateTotalTicketPrice() {
                // Calculate total ticket price
                var totalTicketPrice = selectedSeats.reduce(function(total, name) {
                    return total + parseFloat($(`.seat[data-seat-name="${name}"]`).data('seat-price'));
                }, 0);

                // Display total ticket price
                $('#total-ticket-price').text(totalTicketPrice.toFixed(3));

                // Update selected-seats and total-ticket-price in localStorage
                localStorage.setItem('selected-seats', JSON.stringify(selectedSeats));
                localStorage.setItem('total-ticket-price', totalTicketPrice.toFixed(3));
            }

            $('.seat').on('click', function() {
                var seatName = $(this).data('seat-name');
                var seatPrice = parseFloat($(this).data('seat-price'));

                if ($(this).hasClass('booked')) {
                    alert('This seat is already booked.');
                    return;
                }

                $(this).toggleClass('selected');

                if ($.inArray(seatName, selectedSeats) !== -1) {
                    // Remove deselected seat
                    selectedSeats = selectedSeats.filter(function(name) {
                        return name !== seatName;
                    });
                } else {
                    // Add selected seat
                    selectedSeats.push(seatName);
                }

                // Update total ticket price
                updateTotalTicketPrice();
            });

            $('#book-btn').on('click', function() {
                if (selectedSeats.length === 0) {
                    alert('Please select at least one seat.');
                    return;
                }

                // Redirect to the booking page with selected seats and total ticket price
                var redirectUrl = `/concert/{{ concert.name }}/booking/?seats=${JSON.stringify(selectedSeats)}&total_price=${localStorage.getItem('total-ticket-price')}`;
                window.location.href = redirectUrl;
            });
        });
    </script>
{% endblock %}
