{% load static %}

 <!-- top header -->
 <section class="w3l-top-header">
    <div class="container">
        <div class="top-content-w3ls d-flex align-items-center justify-content-between">
            <div class="top-headers">
                <ul>
                    <li>
                        <p class="d-md-block d-none">Have any question ?</p>
                    </li>
                    <li>
                        <i class="fa fa-phone"></i><a href="tel:+1(21) 234 4567">+1(21) 234 4567</a>
                    </li>
                    <li class="me-0">
                        <i class="fa fa-envelope"></i><a href="mailto:mail@example.com">mail@example.com</a>
                    </li>
                </ul>
            </div>
            <div class="top-headers top-headers-2">
                <ul>
                    <li>
                        <a href="#facebook"><span class="fab fa-facebook-f"></span></a>
                    </li>
                    <li>
                        <a href="#twitter"><span class="fab fa-twitter"></span></a>
                    </li>
                    <li>
                        <a href="#instagram"><span class="fab fa-instagram""></span></a>
                    </li>
                    <li class=" me-0">
                                <a href="#linkedin"><span class="fab fa-linkedin-in"></span></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!-- //top header -->
<!-- header -->
<header id="site-header" class="fixed-top">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light">
            <a class="navbar-brand" href="index.html">
                <i class="fas fa-music me-1"></i>Musical
            </a>
            <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon fa icon-expand fa-bars"></span>
                <span class="navbar-toggler-icon fa icon-close fa-times"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarScroll">
                <ul class="navbar-nav ms-auto my-2 my-lg-0 navbar-nav-scroll">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="index.html">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="about.html">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'classes'%}">Shows</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'buyticket' %}">Buy tickets</a>
                    </li>
                    
                    {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'logout' %}" >Log Out</a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}" >Log In</a>
                    </li>
                    {%endif%}
                

                </ul>
                <form action="#error" method="GET" class="d-flex search-header ms-lg-2">
                    <input class="form-control" type="search" placeholder="Enter Keyword..." aria-label="Search"
                        required>
                    <button class="btn btn-style" type="submit"><i class="fas fa-search"></i></button>
                </form>
            </div>
            <!-- toggle switch for light and dark theme -->
            <div class="cont-ser-position">
                <nav class="navigation">
                    <div class="theme-switch-wrapper">
                        <label class="theme-switch" for="checkbox">
                            <input type="checkbox" id="checkbox">
                            <div class="mode-container">
                                <i class="gg-sun"></i>
                                <i class="gg-moon"></i>
                            </div>
                        </label>
                    </div>
                </nav>
            </div>
            <!-- //toggle switch for light and dark theme -->
        </nav>
    </div>
</header>
<!-- //header -->
<!-- login modal -->
<div id="loginModal2" class="modal-style-2  modal ">
    <div class="modal-dialog modal-login">
        <div class="modal-content">
            <div class="modal-header p-0" >				
                <h4 class="modal-title">Login</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
                <form action="{% url 'login' %}" method="POST" class="mt-3">
                    {% csrf_token %}
                    <div class="{% if form.non_field_errors %}invalid{% endif %} mb-2">
                        {% for error in form.non_field_errors %}
                            {{ error }}
                        {% endfor %}
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-user"></i></span>
                            <input type="text" class="form-control" name="username" placeholder="Enter your username" required="required">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                            <input type="password" class="form-control" name="password" placeholder="Enter password" required="required" autocomplete="on">
                        </div>
                    </div>
                    <!--
                    <div>
                        {% for messages in messages %}
                        <p id="messages" style="color:red;">{{messages}}</p>
                        {% endfor %}                               
                    </div>
                    -->
                    <div class="row pl-1 pr-1">
                        <div class="col text-left">
                            <label class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="item_checkbox" name="item_checkbox" value="option1">
                                <span class="custom-control-label">&nbsp;Remember Me</span>
                            </label>
                        </div>
                        <div class="col text-right hint-text pt-0">
                            <a href="{% url 'reset_password' %}" class="text-danger">Forgot Password?</a>
                        </div>
                    </div>
                    <div class="form-group text-center mt-2 mb-0">
                        <button type="submit" class="btn btn-primary btn-sm">Login</button>
                        
                    </div>
                    <p class="hint-text mt-0">or login with</p>
                    <div class="social-login text-center">
                        <a class=" btn-facebook  text-uppercase" href="redirect/facebook"><i class="fab fa-facebook-f mr-2 ml-2"></i> </a>
                        <a class=" btn-facebook  text-uppercase" href="redirect/google"><i class="fab fa-google mr-2 ml-2"></i></a>
                        <a class=" btn-facebook  text-uppercase" href="redirect/twitter"><i class="fab fa-twitter mr-2 ml-2"></i></a>
                    </div>
                </form>
            </div>
            <div class="modal-footer">Don't have an account? <a href="#registerModal2" data-dismiss="modal" data-toggle="modal"> Register</a></div>
        </div>
    </div>
</div>  
<!-- register modal -->
<div id="registerModal2" class="modal-style-2  modal ">
    <div class="modal-dialog modal-login">
        <div class="modal-content">
            <div class="modal-header p-0">				
                <h4 class="modal-title">Register</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
                <form action="{% url 'register' %}" method="POST" class="mt-3">
                    {% csrf_token %}
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-user"></i></span>
                            <input type="text" class="form-control" name="first_name" placeholder="Enter your name" required="required">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                            <input type="email" class="form-control" name="email" placeholder="Enter email address" required="required">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-user"></i></span>
                            <input type="text" class="form-control" name="username" placeholder="Enter username" required="required">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                            <input type="password" class="form-control" name="password1" placeholder="Enter password" required="required" autocomplete="on">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-eye-slash"></i></span>
                            <input type="password" class="form-control" name="password2" placeholder="Retype password" required="required" autocomplete="on">
                        </div>
                    </div>

                    <div class="form-group text-center">
                        <button id="signup-button" type="submit" class="btn btn-primary btn-sm">Register</button>
                        
                    </div>
                </form>

            </div>
            <!-- social icons -->
            <p class="hint-text">or register with</p>
            <div class="social-login text-center mb-2">
                <a class=" btn-facebook  text-uppercase" href="redirect/facebook"><i class="fab fa-facebook-f mr-2 ml-2"></i> </a>
                <a class=" btn-facebook  text-uppercase" href="redirect/google"><i class="fab fa-google mr-2 ml-2"></i></a>
                <a class=" btn-facebook  text-uppercase" href="redirect/twitter"><i class="fab fa-twitter mr-2 ml-2"></i></a>
            </div>
            <div class="modal-footer">Already have an account? <a href="#loginModal2" data-dismiss="modal" data-toggle="modal"> Login</a></div>
        </div>
    </div>
</div> 
<script>
    $(document).ready(function() {
        {% if form.errors %}
        $("#loginModal2").modal("show");
        {% endif %}
        });
        
</script>
