{% load static %}
{% load humanize %} 
{% load widget_tweaks %}

<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Musical - Music Category Bootstrap Responsive Website Template - About Us : W3Layouts</title>
    <!-- Google fonts -->
    <link href="//fonts.googleapis.com/css2?family=Londrina+Outline&display=swap" rel="stylesheet">
    <!-- Template CSS Style link -->
    <link rel="stylesheet" href="{% static 'css/style-starter.css' %}">
</head>
<title>Musical | </title>

<body>
{% include 'navbar.html' %}

{% block content %}

{% endblock%}

{% include 'footer.html' %}
</body>
</html>