
  <div class="container">
    <form class="px-4 px-sm-2" method="post" enctype="multipart/form-data" action="{% url 'signup' %}">
      {% csrf_token %}
      <h3 class="title-style py-3">SIGN UP</h3>

      {{ form.as_p }}
      

      <button class="btn-style mt-5" type="submit">Sign Up</button>

      {% if messages %}
        <div class="mt-3">
          {% for message in messages %}
            <div class="alert alert-success" role="alert">
              {{ message }}
            </div>
          {% endfor %}
        </div>
      {% endif %}
    </form>
  </div>

