{% extends 'base.html' %}
{% load static %}
{% block title %}Hello{% endblock %}
{% block content %}


<!-- banner section -->
<div class="slider">
    <div class="slide current">
        <div class="bg-layer">
            <div class="content">
                <h6>Music Beats</h6>
                <h3>Music for Everyone</h3>
                <a href="about.html" class="btn btn-style mt-4">Learn More</a>
            </div>
        </div>
    </div>
    <div class="slide">
        <div class="bg-layer">
            <div class="content">
                <h6>Start Listening</h6>
                <h3>Feel the Rhythm</h3>
                <a href="about.html" class="btn btn-style mt-4">Learn More</a>
            </div>
        </div>
    </div>
    <div class="slide">
        <div class="bg-layer">
            <div class="content">
                <h6>Feel Music</h6>
                <h3>Best Jazz Beats</h3>
                <a href="about.html" class="btn btn-style mt-4">Learn More</a>
            </div>
        </div>
    </div>
    <div class="slide">
        <div class="bg-layer">
            <div class="content">
                <h6>Discover Your Talent</h6>
                <h3>Pick Your Instrument</h3>
                <a href="about.html" class="btn btn-style mt-4">Learn More</a>
            </div>
        </div>
    </div>
</div>
<div class="buttons">
    <button id="prev"><i class="fas fa-arrow-left"></i></button>
    <button id="next"><i class="fas fa-arrow-right"></i></button>
</div>
<!-- //banner section -->

<!-- about section -->
<section class="w3l-about py-5" id="about">
    <div class="container py-lg-5 py-md-4 py-2">
        <div class="row align-items-center">
            <div class="col-lg-6 section-width pe-xl-5 pt-lg-4">
                <h3 class="title-style">Welcome to <span>Musical</span></h3>
                <p class="mt-4">At corrupti odit At iure facere,
                    porro repellat officia quas, dolores magnam assumenda soluta odit
                    harum maiores fugiat accusamus eos nulla. Iure voluptatibus explicabo
                    officia.</p>
                <p class="mt-4 pb-dm-3">Lorem ipsum, dolor sit amet consectetur adipisicing elit. At, corrupti
                    odit? At iure facere,
                    porro repellat officia quas, dolores magnam assumenda soluta odit
                    harum.</p>
                <a href="about.html" class="btn btn-style mt-5"> Know more about us</a>
            </div>
            <div class="col-lg-6 history-info mt-lg-0 mt-5 pt-md-4 pt-2">
                <div class="position-relative img-border">
                    <img src="{% static '/images/about.jpg' %}" class="img-fluid radius-image" alt="video-popup">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- //about section -->

<!-- classes section -->
<section class="w3l-classes py-5" id="classes">
    <div class="container py-lg-5 py-md-4 py-2">
        <h3 class="title-style text-center">Our Best Music <span>Classes</span></h3>
        <div class="row text-center justify-content-center">
            <div class="col-lg-4 col-md-6 mt-lg-5 mt-4">
                <div class="grids-1 box-wrap p-lg-3">
                    <div class="icon">
                        <i class="fas fa-music"></i>
                    </div>
                    <h4><a href="#service" class="title-head mt-4 mb-2">Piano</a></h4>
                    <p class="text-para">Lorem ipsum dolor sit amet, elit. Id ab commodi magnam fugiat accusamus
                        eos. </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mt-lg-5 mt-4">
                <div class="grids-1 box-wrap p-lg-3">
                    <div class="icon active">
                        <i class="fas fa-guitar"></i>
                    </div>
                    <h4><a href="#service" class="title-head mt-4 mb-2">Guitar</a></h4>
                    <p class="text-para">Lorem ipsum dolor sit amet, elit. Id ab commodi magnam fugiat accusamus
                        eos. </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mt-lg-5 mt-4">
                <div class="grids-1 box-wrap p-lg-3">
                    <div class="icon">
                        <i class="fas fa-drum"></i>
                    </div>
                    <h4><a href="#service" class="title-head mt-4 mb-2">Trumpet</a></h4>
                    <p class="text-para">Lorem ipsum dolor sit amet, elit. Id ab commodi magnam fugiat accusamus
                        eos. </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mt-4">
                <div class="grids-1 box-wrap p-lg-3">
                    <div class="icon">
                        <i class="fas fa-compact-disc"></i>
                    </div>
                    <h4><a href="#service" class="title-head mt-4 mb-2">DJ</a></h4>
                    <p class="text-para">Lorem ipsum dolor sit amet, elit. Id ab commodi magnam fugiat accusamus
                        eos. </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mt-4">
                <div class="grids-1 box-wrap p-lg-3">
                    <div class="icon">
                        <i class="fas fa-play"></i>
                    </div>
                    <h4><a href="#service" class="title-head mt-4 mb-2">Musics</a></h4>
                    <p class="text-para">Lorem ipsum dolor sit amet, elit. Id ab commodi magnam fugiat accusamus
                        eos. </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mt-4">
                <div class="grids-1 box-wrap p-lg-3">
                    <div class="icon">
                        <i class="fas fa-headphones-alt"></i>
                    </div>
                    <h4><a href="#service" class="title-head mt-4 mb-2">Listening</a></h4>
                    <p class="text-para">Lorem ipsum dolor sit amet, elit. Id ab commodi magnam fugiat accusamus
                        eos. </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- //classes section -->

<!-- homeblock1 section -->
<section class="w3l-homeblock1 py-5">
    <div class="container py-lg-5 py-md-4 py-2">
        <div class="row align-items-center">
            <div class="col-lg-5">
                <h3 class="title-style">Listen to <span>Music</span> Buzz anywhere</h3>
                <h6 class="sub-title mt-md-4 mt-md-5 mt-4">Where words leave off, <br>Music Begins.</h6>
                <a href="about.html" class="btn btn-style mt-lg-5 mt-4">View Classes</a>
            </div>
            <div class="col-lg-7 mt-lg-0 mt-5 ps-lg-5">
                <div class="row">
                    <div class="col-6">
                        <div class="column-w3-img position-relative">
                            <a href="#image"><img src="{% static '/images/img1.jpg' %}" alt=""
                                    class="radius-image img-fluid"></a>
                        </div>
                        <div class="column-w3-img position-relative mt-4">
                            <a href="#image"><img src="{% static '/images/img3.jpg' %}" alt=""
                                    class="radius-image img-fluid"></a>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="column-w3-img position-relative">
                            <a href="#image"><img src="{% static '/images/img4.jpg' %}" alt=""
                                    class="radius-image img-fluid"></a>
                        </div>
                        <div class="column-w3-img position-relative mt-4">
                            <a href="#image"><img src="{% static '/images/img2.jpg' %}" alt=""
                                    class="radius-image img-fluid"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- //homeblock1 section -->

<!-- video section -->
<section class="w3l-video-sec" id="video">
    <div class="container">
        <div class="row w3l-video">
            <div class="col-12">
                <div class="videow3-right">
                    <div class="w3l-index5 py-5">
                        <div class="history-info align-self text-center py-5">
                            <div class="position-relative py-5">
                                <a href="#small-dialog1"
                                    class="popup-with-zoom-anim play-view text-center position-absolute">
                                    <span class="video-play-icon">
                                        <span class="fa fa-play"></span>
                                    </span>
                                </a>
                                <!-- dialog itself, mfp-hide class is required to make dialog hidden -->
                                <div id="small-dialog1" class="zoom-anim-dialog mfp-hide">
                                    <iframe src="https://player.vimeo.com/video/12881072?h=9f0439706"
                                        frameborder="0" allow="autoplay; fullscreen; picture-in-picture"
                                        allowfullscreen></iframe>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- //video section -->

<!-- join section -->
<section class="w3l-whyblock py-5">
    <div class="container py-lg-5 py-md-4 py-2">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <img src="{% static '/images/about4.jpg'%}" alt="" class="img-fluid radius-image">
            </div>
            <div class="col-lg-6 ps-xl-5 ps-lg-4 mt-lg-0 mt-5">
                <h3 class="title-style mb-4">Join the <span>Musical</span></h3>
                <p>Lorem ipsum viverra feugiat. Pellen tesque libero ut justo,
                    ultrices in ligula. Semper at tempufddfel. Lorem ipsum dolor sit amet consectetur adipisicing
                    elit.</p>
                <div class="two-grids mt-5">
                    <div class="grids_info">
                        <i class="fas fa-volume-up"></i>
                        <div class="detail">
                            <h4>Exclusive Releases</h4>
                            <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
                                mollit.</p>
                        </div>
                    </div>
                    <div class="grids_info mt-xl-5 mt-4">
                        <i class="fas fa-icons"></i>
                        <div class="detail">
                            <h4>Full DJ Sets & Podcasts</h4>
                            <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
                                mollit.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- //join section -->

<!-- subscribe form section -->
<section class="w3l-forms-9 pt-5 pb-lg-4" id="newsletter">
    <div class="container">
        <div class="main-midd text-center mx-auto" style="max-width:700px;">
            <h3 class="title-style mb-2">Subscribe to our daily <span>updates!</span></h3>
            <p class="">Enter your email address to register to our newsletter</p>

            <div class="main-midd-2 mt-md-5 mt-4 mx-auto" style="max-width:600px;">
                <form action="#url" method="GET" class="d-sm-flex rightside-form">
                    <input type="email" class="form-control" name="email" placeholder="Enter your email">
                    <button class="btn btn-style" type="submit">Subscribe</button>
                </form>
            </div>
        </div>
    </div>
</section>
<!-- //subscribe form section -->

<!-- button with content section -->
<section class="w3l-button-sec py-5">
    <div class="container py-5">
        <div class="w3-midhny-sec p-5">
            <div class="row align-items-center p-md-4">
                <div class="col-xl-8 col-lg-9">
                    <div class="title-content-two pe-lg-5">
                        <h3 class="title-w3l mb-md-1 mb-4 d-md-flex align-items-center">Contact Us Now!
                            <a class="mt-md-0 mt-2" href="tel:+ 12 123 456 789">+ 12 123 456 789</a> </h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-3 mt-lg-0 mt-sm-5 mt-4 text-lg-end">
                    <a href="about.html" class="btn btn-style ">Contact Now</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- //button with content section -->

{% endblock %}