<!-- HTML TEMPLATE FOR ALL PAGE--> 
{% extends 'base.html' %}
{% load static %}
{% block title %}Email Sent{% endblock %}
{% block content %}

<!-- sigup section -->
<section class="w3l-about py-5" id="about">
    <div class="container py-5">
        <div class="row align-items-center">
            <div class="col-md-6 pe-xl-5 pt-lg-4">
                <h3 class="title-style py-3">Password reset sent</h3>  
                <p class="mt-2 mb-2">We've emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly</p> 
                <p class="mt-2 mb-2">If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder.</p> 
            </div>
            <div class="col-md-6 history-info mt-lg-0 mt-5 pt-md-4 pt-2">
                <div class="position-relative img-border">
                    <img src="{% static 'images/about.jpg' %}" class="img-fluid radius-image" alt="video-popup">
                </div>
            </div>
        </div>
    </div>
</section> 

<!-- sigup section -->
{% endblock %}