<!-- HTML TEMPLATE FOR ALL PAGE--> 
{% extends 'base.html' %}
{% load static %}
{% block title %}Hello{% endblock %}
{% block content %}

<!-- sigup section -->
<section class="w3l-about py-5" id="about">
    <div class="container py-5">
        <div class="row align-items-center">
            <div class="col-md-6 pe-xl-5 pt-lg-4">
                <h3 class="title-style py-3">Password reset complete</h3>  
                <p class="mt-2 mb-2">Your password has been set. You may go ahead and log in now</p> 
                <a href="{% url 'login' %}">Login</a>
            </div>
            <div class="col-md-6 history-info mt-lg-0 mt-5 pt-md-4 pt-2">
                <div class="position-relative img-border">
                    <img src="{% static 'images/about.jpg' %}" class="img-fluid radius-image" alt="video-popup">
                </div>
            </div>
        </div>
    </div>
</section> 

<!-- sigup section -->
{% endblock %}