<!-- HTML TEMPLATE FOR ALL PAGE--> 
{% extends 'base.html' %}
{% load static %}
{% block title %}Enter new password{% endblock %}
{% block content %}


<section class="w3l-about py-5" id="about">
    <div class="container py-5">
        <div class="row align-items-center">
            <div class="col-md-6 pe-xl-5 pt-lg-4">
                <h3 class="title-style py-3">Enter new password</h3>  
                <p class="mt-2 mb-2">Please enter your new password twice so we can verify you typed it in correctly</p> 
                <form class="px-4 px-sm-2" method="post">
                    {% csrf_token %}                    
                    {% for field in form %}
                        {{ field.label_tag }} 
                        {{ field }}
                        {% if field.errors %}
                            <small>{{ field.errors|striptags  }}</small> 
                        {% endif %}
		            {% endfor %} 
                    <br>                 
                    <input class="btn-style mt-2" type="Submit" value="Change My Password">
            </form>
            </div>
            <div class="col-md-6 history-info mt-lg-0 mt-5 pt-md-4 pt-2">
                <div class="position-relative img-border">
                    <img src="{% static 'images/about.jpg' %}" class="img-fluid radius-image" alt="video-popup">
                </div>
            </div>
        </div>
    </div>
</section> 
{% endblock %}