{% extends 'base.html' %}
{% load static %}
{% block title %}Profile - {{ user.username }}{% endblock %}
{% block content %}
<section class="w3l-about py-5 mt-5" id="profile">
    <div class="container py-5 h-100">
        <div class="row justify-content-center align-items-center">
            <div class="col-md-8">
                <div class="card mb-3">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="{{ user.Profile.profile_pic.url }}"
                                alt="Profile Picture" class="img-fluid rounded-circle" width="150" height="150">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title" style="color: black;">User profile</h5>
                                <p class="card-text" style="color: black;">Username: {{ user.username }}</p>
                                <p class="card-text" style="color: black;">Email: {{ user.email }}</p>
                                <div class="d-flex mt-2" >
                                    <a href="{% url 'ChangePassword' %}" class="btn btn-outline-primary me-1">Change Password</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card mb-3" style="color: black">
                    <form method="POST" enctype="multipart/form-data" class="p-4">
                        {% csrf_token %}
                        <fieldset class="form-group border-bottom mb-4">
                            <legend>Profile Info</legend>
                
                            <div class="mb-3">
                                <label for="id_username" class="form-label">Username:</label>
                                <input type="text" name="username" maxlength="150" required class="form-control" id="id_username">
                                <div class="form-text">Required. 150 characters or fewer. Letters, digits and @/./+/-/_ only.</div>
                            </div>
                
                            <div class="mb-3">
                                <label for="id_email" class="form-label">Email:</label>
                                <input type="email" name="email" maxlength="320" required class="form-control" id="id_email">
                            </div>
                
                            <div class="mb-3">
                                <label for="id_profile_pic" class="form-label">Profile pic:</label>
                                <input type="file" name="profile_pic" accept="image/*" class="form-control" id="id_profile_pic">
                            </div>
                        </fieldset>
                
                        <div class="form-group">
                            <button class="btn btn-outline-info" type="submit">Update</button>
                        </div>
                    </form>
                </div>                
            </div>
        </div>
    </div>
</section>
{% endblock content %}
